# Base de données MariaDB
DB_HOST=localhost
DB_PORT=3306
DB_NAME=vite_et_gourmand
DB_USER=root
DB_PASSWORD=

# MongoDB
MONGO_URI=mongodb://localhost:27017
MONGO_DB=vg_stats

# Mail (Mailtrap en développement)
MAIL_HOST=sandbox.smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USER=
MAIL_PASSWORD=
MAIL_FROM=noreply@viteetgourmand.fr

# Application
APP_ENV=production

# OpenRouteService
ORS_API_KEY=your_ors_api_key_here