# Base de données MariaDB
DB_HOST=localhost
DB_PORT=3306
DB_NAME=vite_et_gourmand
DB_USER=root
DB_PASS=

# MongoDB
MONGO_URI=mongodb://localhost:27017
MONGO_DB=vg_stats

# Mail (Mailtrap en développement)
#MAIL_HOST=sandbox.smtp.mailtrap.io
#MAIL_PORT=2525
#MAIL_USER=
#MAIL_PASSWORD=
#MAIL_FROM=noreply@viteetgourmand.fr
#MAIL_TO=contact@viteetgourmand.fr
#MAIL_FROM_NAME=Vite & Gourmand

# Mail (Gmail en production)
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USER=
MAIL_PASSWORD=
MAIL_FROM=
MAIL_FROM_NAME=Vite & Gourmand
MAIL_TO=

# Application
APP_ENV=development

# OpenRouteService
ORS_API_KEY=your_ors_api_key_here

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=