# Variables d'environnement - NE JAMAIS COMMITER
.env
! .env.example

vendor/
node_modules/


# Fichiers système macOS
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db

# Fichiers VS Code
.vscode/
*.code-workspace

# Fichiers PHP temporaires
*.log
*.cache

# Uploads utilisateurs (images des menus)
public/assets/images/uploads/*
!public/assets/images/uploads/.gitkeep
# Force upload des images statiques
!public/assets/images/uploads/Logo_Figma.svg
!public/assets/images/uploads/icone_*.svg
!public/assets/images/uploads/hero_banner_*.jpeg
!public/assets/images/uploads/equipe_*.webp

# Fichiers de configuration IDE
.idea/
*.iml

# Fichiers maquette trop volumineux
public/assets/images/maquettes/Vite_et_gourmand_Maquette.pdf

# Source maps
public/assets/css/*.map